.App {
  background-color: #282c34;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.App > .weather {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 100px;
  text-align: center;
  color: white;
  font-size: 25px;
}